/binaries
/publish
bin/
Bin/
obj/
_ReSharper*/
*.Cache
*.cache
/msbuild.log
source/Appccelerate.1.2.dotCover
*.user
*.suo
*.orig
source/Appccelerate.sln.DotSettings
source/packages/*
logs/ripple.log
Specs/
source/.vs/*
**/project.lock.json
source/*/*.nuget.targets
